<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        background-color: red;
        height: 100%;
    }

    .container {
        height: 100%;
        width: 100%;
        max-width: 1230px;
        padding-inline: 10px;
        padding: 20px;
    }

    .first ul {
        display: flex;
        list-style: none;
        gap: 20px;
    }
</style>

<body>
    <main class="container">
        <div class="first">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
            <h2>{{Name}}</h2>
            <h2>{{lName}}</h2>
        </div>
        {% block data %}
        <h2>Hello world from index.html</h2>
        {% endblock %}

    </main>

</body>

</html>