{% extends "index1.html" %} {% block data %}

<div class="col-6 mt-5 mb-5 mx-auto">
  <form class="card shadow-lg p-3" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Dish Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter Dish Name"
        name="dish-name"
      />
    </div>

    <div class="form-group mt-3">
      <label for="exampleInputPassword1">Receipe of dish</label>
      <input
        type="textfield"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Enter the receipe"
        name="dish-receipe"
      />
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="form-group">
      <input
        type="file"
        class="form-control-file mt-3"
        id="exampleFormControlFile1"
        name="dish-image"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
  <div>
    {% for rec in receipes %}
    <img src="{{ rec.dishImg }}" /><img />
    <li>{{ rec.dishName }}, {{ rec.dishReceipe }} ,{{ rec.dishImg }}</li>
    <li></li>
    {% endfor %}
  </div>
</div>
{% endblock %}
